.contacts{
    min-height: 815px;
    padding: 120px 0 90px 0;
    &_flex{
        display: flex;
        justify-content: space-between;
        padding-left: 52px;
        padding-right: 35px;
        .contact_img{
            width: 400px;
            height: 600px;
        }
        .img_me{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:1%;
        }
    }
    
    &_descr{
        width: 585px;
        height: 600px;

         
        
        
        .block_me{
            margin-left: 0;
            position: relative;
            margin-top: 6px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            z-index: 2;
            padding-left: 12px;
            @include before_circle;
        }
        .block_name{
            margin-left: 0;
            margin-top: 6px;
            font-weight: 700;
            font-size: 36px;
            line-height: 60px;
            color: #000000;
        }
        .block_line{
            margin-left: 0;
            width: 80px;
            height: 0px;
            border-top: 4px solid $main_color;
        }
        .text_one{
            margin-top: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        .contacts_img{
            margin-top: 20px;
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }
        .contacts_grid{
            
            margin-top: 28px;
            display: grid;
            grid-template-columns: repeat(2 , 280px);
            grid-template-rows: 45px 190px 45px;
            gap: 25px;
            input{
                width: 100%;
                height: 100%;
                padding:0 15px 0 15px;
                
            }
            .textarea_block{
                grid-column: 1/3;
                grid-row: 2/3;
                position: relative;
            }
            textarea{
                width: 100%;
                height: 100%;
                resize: none;
                padding:15px;
            }
            .pr{
                position: relative;
                
            }
            label{
                position: absolute;
                padding:0 8px 0 8px;
                background-color:white;
                line-height: 10px;
                margin-bottom: 0px;
                left: 10px;
                top: -5px;
            }
            .footer_block{
                grid-column: 1/3;
                grid-row: 3/4;

            }
            .contacts_btn{
                width: 219px;
                height: 45px;
                background:$main-color;
                border:none;
                border-radius: 3%;
                &:hover{
                    box-shadow: 3px 3px 20px $main-color ;
                }
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color:white;
            }
            .footer_block{
                display: flex;
            }
            .confirm{
                display: flex;
                .boxcheck{
                    margin-left: 38px;
                    width: 15px;
                    height: 15px;
                    margin-top: 13px;

                }
                .yes{
                    margin-top: 14px;
                    margin-left: 10px;
                    width: 300px;
                    font-size: 12px;
                    line-height: 14px;
                }

            }
        }
    }
}